@{
    ViewBag.Title = "About";
}
<div class="article">
    <p>Hello User! This is a Ticket Support Tracking website that was made by Austin T Wiggins. Feel free to take a look around. Visit my personal site at <a href="http://www.projectwiggs.com">www.projectwiggs.com</a></p>

    <h3>Links</h3>
    <p><a href="https://www.linkedin.com/in/austin-wiggins-b6349b12a">LinkedIn <img src="~/Content/images/linkedin.png" class="icon" /></a></p>
    <br />
    <br />
    <embed width="100%" height="800px" src="~/Content/Documentation.pdf" />

</div>
