@{
    ViewBag.Title = "Home Page";
}
<div class="article">
    <h2>Welcome to Radar Industries</h2>
    <h4>Considered Vader's favorite dishes</h4>
    <br />
    <br />
    <div class="halfbar-left">
        <h4>What we offer</h4>
        <p class="blog">We offer the latest when it comes to radar technologies. When it comes down to deciding, we have multiple satellite dishes for you to choose.
        Even radars to fit with your budget!</p>
    </div>
    <div class="halfbar-right">
        <h4>What's on sale?</h4>
        <p class="blog">You may be wondering, what's on sale? Everything. Most of the radars in this have been bought at minimal price to give you a large discount. On average, our radars
        are 15% off from their regular price. What about the refurbished? Even cheaper! They work just as if they were completely new. Buy them today!</p>
    </div>
    <div class="halfbar-left">
        <h4>Who can I contact?</h4>
        <p class="blog">
            Our business representative Austin will answer any questions.
            <br />
            <br />
            Contact him via: 
            <br />
            <a href="/Home/Contact">contact form</a>
            <br />
            <a href="https://www.linkedin.com/in/austin-wiggins-b6349b12a">LinkedIn <img src="~/Content/images/linkedin.png" class="icon" /></a>
        </p>
    </div>
    <div class="halfbar-right">
        <h4>I'm not falling for it</h4>
        <p class="blog">
            I don't believe it. I've never heard of a website that sells radars. We get these questions a lot. We understand you're skeptic about this website.
            I can assure you we're not a scam website. If we were a scamming website we'd sell you products that never existed. But we can't even sell! No seriously
            we didn't have time to create a products page that actually sells and ships radars to your house.
        </p>
    </div>
    <div class="clear"></div>
</div>