
@{
    ViewBag.Title = "NotFound";
}

<div class="article-nopadding">
    <h2>Department Not Found</h2>
    <p class="center">Maybe it never existed?</p>
    <div class="holder">
        <img class="Victim" src="~/Content/images/Victim.png" />
        <img class="Vader" src="~/Content/images/Vader.png" />
    </div>
</div>